@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.card-container {
  display: flex;
  gap: 20px;
}
.card1 {
  width: 280px;
  height: 380px;
  border-radius: 12px;
  background-image: url(grand.jpg);
  background-size: cover;
  filter: brightness(1.08);
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card2 {
  width: 280px;
  height: 380px;
  border-radius: 12px;
  background-image: url(pool.jpg);
  background-size: cover;
  filter: brightness(1.08);
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card3 {
  width: 280px;
  height: 380px;
  border-radius: 12px;
  background-image: url(view.jpg);
  background-size: cover;
  filter: brightness(1.08);
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card4 {
  width: 280px;
  height: 380px;
  border-radius: 12px;
  background-image: url(pool1.jpg);
  background-size: cover;
  filter: brightness(1.08);
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category > span {
  color: white;
  font-size: 14px;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title > span {
  font-family: "JalnanGothic";
  color: white;
  font-size: 28px;
}

.description > span {
  color: white;
  font-size: 16px;
}
