.fourth {
  background-image: url(image5.webp);
  background-size: cover;
  margin-top: 650px;
  width: 100vw;
  height: 700px;
}

.fourth__text {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  align-items: center;
  align-content: center;
  padding-top: 270px;
  gap: 50px;
}

.fourth__text__title {
  color: white;
  font-size: 45px;
  font-weight: 700;
}

.fourth__text__buttons {
  display: flex;
  gap: 10px;
}

.fourth__text__button__red {
  border: 1px solid red;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: white;
}

.fourth__text__button__white {
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
}
