.card {
  width: 350px;
  height: 600px;
  border-radius: 30px;
  padding: 50px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  transition: all 1s;
}
/* .card:hover{
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
} */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageBox {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 90% center;
  transition: all 0.5s;
}

.imageBox > img:hover {
  transform: scale(1.2);
}

.introduce {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.sns-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  background-color: white;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
}

.button:hover {
  font-size: 20px;
  padding: 25px;
}

.sns-logo {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logoBox > i {
  font-size: 20px;
  transition: all 0.5s;
}

.logoBox > i:hover {
  color: pink;
  font-size: 30px;
}
