.button {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 400px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  font-size: 30px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}
